name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  issues: write
  security-events: write

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install bandit pytest
      
      - name: Start FastAPI server
        run: |
          nohup uvicorn app.main:app --host 0.0.0.0 --port 8000 &
          sleep 10
          curl http://localhost:8000/health || exit 1
      
      - name: Run API tests
        run: |
          python -m pytest tests/ -v
      
      - name: Run Bandit security scan
        run: |
          bandit -r app/ -f json -o bandit_report.json || true
          cat bandit_report.json
      
      - name: Prepare reports folder
        run: |
          mkdir -p ${{ github.workspace }}/reports
          chmod 777 ${{ github.workspace }}/reports
      
      - name: Run OWASP ZAP Baseline Scan
        continue-on-error: true
        uses: zaproxy/action-baseline@v0.7.0
        with:
          target: 'http://localhost:8000'
          docker_name: 'zaproxy/zap-stable:latest'
          cmd_options: '-r reports/zap_report.html -I'
          token: ${{ secrets.GITHUB_TOKEN }}
          fail_action: false
      
      - name: Upload DAST report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dast-report
          path: reports/zap_report.html
      
      - name: Upload Bandit report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: bandit-report
          path: bandit_report.json
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-api:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/devops-api:latest