name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout code
        uses: actions/checkout@v3

      
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

   
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install bandit requests

    
      - name: Start FastAPI server
        run: |
          nohup uvicorn app.main:app --host 0.0.0.0 --port 8000 &
          sleep 5  # wait for server to be ready

      
      - name: Run API tests
        run: |
          python -m pytest tests/

     
      - name: Run Bandit security scan
        run: |
          bandit -r app/ -f json -o bandit_report.json
          cat bandit_report.json

     
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      
      - name: Build Docker image
        run: |
          docker build -t devops-api .


      - name: Push Docker image
        run: |
          docker tag devops-api ${{ secrets.DOCKER_USERNAME }}/devops-api:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/devops-api:latest
